<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>travel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadAdminUserServlet</display-name>
    <servlet-name>ReadAdminUserServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.ReadAdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadAdminUserServlet</servlet-name>
    <url-pattern>/readAdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadRoleServlet</display-name>
    <servlet-name>ReadRoleServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.ReadRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadRoleServlet</servlet-name>
    <url-pattern>/readRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadPermissionServlet</display-name>
    <servlet-name>ReadPermissionServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.ReadPermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadPermissionServlet</servlet-name>
    <url-pattern>/readPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadProductServlet</display-name>
    <servlet-name>ReadProductServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.ReadProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadProductServlet</servlet-name>
    <url-pattern>/readProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadOrdersServlet</display-name>
    <servlet-name>ReadOrdersServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.ReadOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadOrdersServlet</servlet-name>
    <url-pattern>/readOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddRoleServlet</display-name>
    <servlet-name>AdminAddRoleServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.AdminAddRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddRoleServlet</servlet-name>
    <url-pattern>/adminAddRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPermissionServlet</display-name>
    <servlet-name>AdminAddPermissionServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.AdminAddPermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPermissionServlet</servlet-name>
    <url-pattern>/adminAddPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddUserServlet</display-name>
    <servlet-name>AdminAddUserServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.AdminAddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserServlet</servlet-name>
    <url-pattern>/adminAddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/userDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProductServlet</display-name>
    <servlet-name>DelProductServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.DelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductServlet</servlet-name>
    <url-pattern>/delProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteImgServlet</display-name>
    <servlet-name>RouteImgServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.RouteImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteImgServlet</servlet-name>
    <url-pattern>/routeImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RnameSearchServlet</display-name>
    <servlet-name>RnameSearchServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.RnameSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RnameSearchServlet</servlet-name>
    <url-pattern>/rnameSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchWordServlet</display-name>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.SearchWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/searchWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>cn.itcast.travel.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
</web-app>